[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
escrow_dapp = "B8zkr7q9e5vJxmGdFTbMzY91e48qnucsPArvsVp3GjLJ"

[programs.devnet]
escrow_dapp = "B8zkr7q9e5vJxmGdFTbMzY91e48qnucsPArvsVp3GjLJ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000
